name: Auto release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  set-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.VERSION }}
    steps:
      - id: set_version
        run: |
          MAJOR=$(date +%y%m)
          MINOR=$(date +%d%H)
          PATCH=$(date +%M%S)
          BUILD=0
          VERSION_NUM="${MAJOR}.${MINOR}.${PATCH}.${BUILD}"
          echo "VERSION=$VERSION_NUM" >> $GITHUB_OUTPUT 

  build-windows:
    runs-on: windows-latest
    needs:
      - set-version

    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          mkdir build
          cd build
          cmake .. -G "Visual Studio 17 2022" -A x64 -DCMAKE_BUILD_TYPE=Release -DVERSION=${{ needs.set-version.outputs.version }}

      - name: Build Project
        run: cmake --build build --config Release

      - name: Upload VST3 artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-vst3-windows
          path: ./build/MatchingCompressor_artefacts/Release/VST3/MatchingCompressor.vst3

  build-linux:
    runs-on: ubuntu-22.04
    needs:
      - set-version

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libfreetype6-dev libfontconfig1-dev

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release -DVERSION=${{ needs.set-version.outputs.version }}

      - name: Build Project
        run: cmake --build build --config Release -- -j$(nproc)

      - name: Upload VST3 artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-vst3-linux
          path: ./build/MatchingCompressor_artefacts/Release/VST3/MatchingCompressor.vst3

  build-macos:
    runs-on: macos-latest
    needs:
      - set-version

    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DVERSION=${{ needs.set-version.outputs.version }}

      - name: Build Project
        run: |
          cd build
          cmake --build . --config Release -- -j$(sysctl -n hw.ncpu)

      - name: Upload VST3 artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-vst3-macos
          path: ./build/MatchingCompressor_artefacts/Release/VST3/MatchingCompressor.vst3

      - name: Upload AU artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-au-macos
          path: ./build/MatchingCompressor_artefacts/Release/AU/MatchingCompressor.component

  release-windows:
    needs:
      - set-version
      - build-windows
    if: github.event_name == 'push'

    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Download VST3 artifact
        uses: actions/download-artifact@v4
        with:
          name: output-vst3-windows
          path: MatchingCompressor.vst3

      - name: Archive VST3 plugin
        shell: pwsh
        run: |
          $zipName = "MatchingCompressor-vst3-windows-${{ needs.set-version.outputs.version }}-alpha.zip"
          Compress-Archive -Path "MatchingCompressor.vst3" -DestinationPath $zipName

      - name: Create VST3 GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Win-VST3-v${{ needs.set-version.outputs.version }}-alpha
          name: Windows VST3 v${{ needs.set-version.outputs.version }}-alpha
          prerelease: true
          files: MatchingCompressor-vst3-windows-${{ needs.set-version.outputs.version }}-alpha.zip

  release-linux:
    needs:
      - set-version
      - build-linux
    if: github.event_name == 'push'

    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: output-vst3-linux
          path: MatchingCompressor.vst3

      - name: Archive VST3 plugin
        run: |
          tar -czf MatchingCompressor-vst3-linux-${{ needs.set-version.outputs.version }}-alpha.tar.gz MatchingCompressor.vst3

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Linux-VST3-v${{ needs.set-version.outputs.version }}-alpha
          name: Linux VST3 v${{ needs.set-version.outputs.version }}-alpha
          prerelease: true
          files: MatchingCompressor-vst3-linux-${{ needs.set-version.outputs.version }}-alpha.tar.gz


